.footer {
  background-color: #030014;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
  z-index: 10;
}

:global(.light) .footer {
  background-color: #fafafa;
  border-top-color: rgba(0, 0, 0, 0.05);
}
